body{
    font: 14px/1.4em Arial, Helvetica, sans-serif;
    color:#666;
    background:#eee;
    padding:0;
    margin:0;
}
#lipsum{
    max-width:940px;
    padding: 10px;
    background:#FFF;
    border: solid 1px #DDD;
    margin:20px auto;
}
#lipsumTabs{
    height:29px;
}
#lipsumTabs a{
    line-height: 28px;
    display: inline-block;
    padding:0 20px;
    border: solid 1px #DDD;
    border-bottom: none;
    background:#eee;
    color:#333;
    text-decoration: none;
}
#lipsumTabs a.current{
    background:#FFF;
    line-height: 29px;
    color:#000;
    cursor: default;
}

.lipsumFolder{
    padding: 10px 20px;
    border: solid 1px #DDD;
}
.lipsumOptionsHtml{
    float:left;
    width:70px;
}
#lipsumOptions{
    margin-left:71px;
    padding-left: 20px;
    border-left: dotted 1px #DDD;
}

.lipsumResult{
    min-height: 40px;
    max-height: 700px;
    background:#eee;
    border: solid 1px #DDD;
    margin: 10px 0;
    padding:5px;
}
.clear{
    clear:both;
    padding:0;
    margin:0;
    height:0;
}
#lipsumHtmlOption,label{
    cursor:pointer;
}
